<!DOCTYPE HTML>

<html lang="en">
    <head>
        <title>Generated Extension Documentation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="unboundid.css" type="text/css">
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>

    <body>
        <div class="titletable" style="overflow:hidden" border="0" width="100%">
            <div style="float:left" width="50%">
                <h1>Generated Extension Documentation</h1>
            </div>
            <div style="float:right" width="50%">
                <a href="http://www.unboundid.com" target="_parent">
                    <img src="images/vendor-name-small-on-white.png" width="104" height="33" border="0" alt="UnboundID Corp.">
                </a>
            </div>
        </div>

        <h2>Documentation for Individual Extensions:</h2>
        <ul>
          #foreach ($extension in $extensions)
            <li><a href="$VelocityUtils.getExtensionFilename($extension)">$extension.getExtensionName()</a></li>
          #end
        </ul>

        <br>
        <br>

        <h2>Generated API Documentation</h2>

        <ul>
            <li><a href="javadoc/index.html">Javadoc</a></li>
        </ul>

        <div class="copyright-footer">Copyright &copy; 2016 &ndash; UnboundID Corp &ndash; All rights reserved.</div>
    </body>
</html>
