<!DOCTYPE HTML>

<html lang="en">
<head>
    <title>Generated Extension Documentation</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="unboundid.css" type="text/css">
    <link rel="shortcut icon" href="images/favicon.ico">
</head>

<body>
<div id="wrapper">
    <header>
        <a href="http://www.unboundid.com/" title="Generated Extension Documentation" id="logo">
            <img src="images/+___.gif" width="274" height="99" alt="UnboundID"/>
        </a>
        <div id="title">
            <h1>Generated Extension Documentation</h1>
        </div>
    </header>

    <section id="content">
      <section>
        <h2>Documentation for Individual Extensions:</h2>

        <ul>
          #foreach ($extension in $extensions)
              <li><a href="$VelocityUtils.getExtensionFilename($extension)">$extension.getExtensionName()</a></li>
          #end
        </ul>
      </section>

      <section>
        <h2>Generated API Documentation</h2>

        <ul>
            <li><a href="javadoc/index.html">Javadoc</a></li>
        </ul>
      </section>
    </section>

    <footer>
        Copyright &copy; 2016 &ndash; UnboundID Corp. &ndash; All rights reserved.
    </footer>
</div>
</body>
</html>