<!DOCTYPE HTML>

<html lang="en">
    <head>
        <title>Generated Extension Documentation</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="unboundid.css" type="text/css">
        <link rel="shortcut icon" href="images/favicon.ico">
    </head>

    <body>
        <header class="titletable" width="100%">
            <div class="title" width="50%">
                <h1>Generated Extension Documentation</h1>
            </div>
            <div class="logo" width="50%">
                <a href="http://www.unboundid.com" target="_parent">
                    <img src="images/vendor-name-on-white.png" width="198" height="58" border="0" alt="Ping Identity">
                </a>
            </div>
        </header>

        <section id="content">

          <section id="extension-docs">
            <h2>Documentation for Individual Extensions</h2>
            <ul>
              #foreach ($extension in $extensions)
                <li><a href="$VelocityUtils.getExtensionFilename($extension)">$extension.getExtensionName()</a></li>
              #end
            </ul>
          </section>

          <section id="javadocs">
            <h2>Generated API Documentation</h2>

            <ul>
                <li><a href="javadoc/index.html">Javadoc</a></li>
            </ul>
          </section>

        </section>

        <footer>Copyright &copy; 2010-2016&ndash; UnboundID Corp. &ndash; All rights reserved.</footer>
    </body>
</html>
